# Python caches
__pycache__/
*.pyc

# Local environments
.env
backend/.env
extension/.env

# Logs
*.log
backend/api/flask.log

# Large/local ML artifacts and datasets
backend/data/*.csv
backend/models/*.pkl

# Virtual environments
.venv/
venv/
node_modules/
dist/
.env
*.zip
.DS_Store
